@import "arrows"
@import "vendors"
@import "animation"

@font-face
  font-family: "Nunito-Regular"
  src: url('../fonts/Nunito-Regular.ttf')

@font-face
  font-family: "Nunito-SemiBold"
  src: url("../fonts/Nunito-SemiBold.ttf")

@font-face
  font-family: "NunitoSans-ExtraBold"
  src: url("../fonts/NunitoSans-ExtraBold.ttf")

@font-face
  font-family: "NunitoSans-Regular"
  src: url("../fonts/NunitoSans-Regular.ttf")

@font-face
  font-family: "NunitoSans-SemiBold"
  src: url("../fonts/NunitoSans-SemiBold.ttf")

$Blue: #4497f3
$Gray-nav: #cbcaca
$White: #ffffff
$Black-text: #091e40
$Gray-text: #81858e
$Blue-button: #3984f3
$Gray-card: #a0a0a0
$Light-gray: #cfcfcf
$Gray-vid: #d9d9d9
$Gray-vid1: #f0f0f0
$Gray-vid2: #c5cac9
$Violet: #d4daf5
$Black-foot: #394047
$Gray-foot: #e1e1e1

html
  scroll-behavior: smooth
  margin: 0
  padding: 0
  box-sizing: border-box

body
  margin: 0

button
  outline: none
  border-radius: 0
  &:hover
    cursor: pointer

a
  text-decoration: none

p
  line-height: 1.8


.navbar
  width: 100%
  padding-top: 70px
.navbar-nav
  display: flex
  justify-content: space-between
  padding-right: 8.2%
  padding-left: 8.2%
  align-items: center
  &__link
    width: 100%
    display: flex
    justify-content: flex-end
    & ul
      display: flex
      list-style: none
      margin-right: 1.85rem
      & li
        display: block
        & a
          display: block
          padding: 0 2rem
          text-align: center
          color: $Gray-nav
          font-family: "Nunito-Regular",serif
          &:hover
            color: $Blue
  &__button
    min-width: 150px
    height: 54px
    border: 3px solid $Blue
    background: $White
    font-family: "Nunito-SemiBold",serif
    color: $Blue
    font-size: 20px
    @include hover(0 0 40px $Gray-nav)
    &:hover
      background-color: $Blue
      color: $White
@media (max-width: 1000px)
  .navbar-nav
    padding: 0 40px
    &__link
      justify-content: center
      & ul
        padding: 0
    &__link ul li a
      padding: 0 10px
    &-nav__logo
      & img
        width: 150px
        height: auto
    &__button
      height: 45px
@media (max-width: 768px)
  .navbar
    display: none
    &-toggle
      position: fixed
      width: 33px
      height: 26px
      z-index: 3
      top: 50px
      right: 30px
      &::before,
      &::after,
      & span
        content: ""
        position: absolute
        display: inline-block
        width: 100%
        height: 4px
        background: $Gray-text
        border-radius: 5px
        transition-duration: 400ms
      &::before
        top: 0
        transform-origin: top left
      &::after
        bottom: 0
        transform-origin: bottom left
      & span
        top: 50%
        transform: translateY(-50%)
      &__active
        & span
          opacity: 0
        &::before
          transform: rotate(45deg)
        &::after
          transform: rotate(-45deg)
    &.is-active
      display: flex
      position: fixed
      justify-content: center
      background: $White
      z-index: 3
      top: 0
    &-nav
      padding: 0
      flex-direction: column
      &__logo
        margin-right: 40px
      &__button
        margin-bottom: 50px
    &-nav__link
      width: 100%
      & ul
        margin-right: 0
        display: flex
        flex-direction: column
      & li
        padding: 20px 0
        & a
          width: 80vw
@media (min-width: 769px)
  .navbar-toggle
    display: none





.travel
  display: flex
  margin-left: 8.2%
  justify-content: space-between
  &-text
    padding-top: 20vh
    max-width: 32vw
    & h1
      font-family: "NunitoSans-ExtraBold",serif
      font-size: 75px
      color: $Black-text
      line-height: 1
      margin: 0
      @include sizeSmallScreen
    & p
      font-family: "NunitoSans-Regular",serif
      font-size: 22px
      color: $Gray-text
      margin-top: 4.4vh
      margin-bottom: 5.9vh
    &__button
      width: 200px
      height: 60px
      background-color: $Blue-button
      border: none
      font-family: "NunitoSans-SemiBold",serif
      font-size: 20px
      color: $White
      @include hover(0 0 40px $Gray-nav)
  &-img
    margin-top: 5.5vh
    & img
      height: auto
      width: 100%
      max-width: 1040px
@media (max-width: 1400px)
  .travel-text
    padding-top: 10vh
@media (max-width: 1058px)
  .travel
    position: relative
    &-text
      max-width: 100%
      text-align: center
      z-index: 2
      margin-right: 8vw
      & h1
        margin: 30px
    &-img
      position: absolute
      right: 0
      & img
        max-height: 500px
        width: auto
        opacity: 30%

.places
  display: flex
  &-photo
    display: flex
    flex-direction: column
    width: 56vw
  &-cards
    display: flex
    overflow: hidden
    height: 600px
    align-items: flex-end
  &-card
    display: flex
    flex-direction: column
    margin: 0 15px
    & p
      margin: 0
    &__back
      width: 372px
      height: 500px
      display: flex
      flex-direction: column
      justify-content: space-between
      color: $White
      position: relative
    &__price
      position: absolute
      width: 110px
      height: 43px
      background-color: $Blue
      font-family: "NunitoSans-SemiBold",serif
      font-size: 24px
      top: 30px
      & p
        text-align: center
    &__desc
      position: absolute
      bottom: 30px
      left: 25px
      font-family: "NunitoSans-Regular",serif
      font-size: 20px
  &-rating
    display: flex
    & input
      display: none
    &__notcheck
        background-image: url("../img/notstar.png")
        width: 22px
        height: 21px
        cursor: pointer
        border: 3px solid #fff
        display: block
    &__check
        background-image: url("../img/star.png")
        width: 22px
        height: 21px
        display: block
        cursor: pointer
        border: 3px solid #fff
  &-description
    display: flex
    justify-content: space-between
    margin-top: 20px
    &__text
      font-family: "NunoSans-SemiBold.ttf",serif
      font-size: 24px
      color: $Gray-card
      padding-right: 10px
  &-text
    width: 30vw
    margin-top: 100px
    margin-left: 140px
    & h1
      font-family: "NunitoSans-SemiBold",serif
      font-size: 50px
      margin-top: 10px
      color: $Black-text
      @include sizeSmallScreen
      &::after
        content: ""
        background-image: url("../img/place-line.png")
        width: 80px
        height: 6px
        display: flex
        margin-top: 40px
    & p
      font-family: "NunitoSans-Regular",serif
      font-size: 22px
      color: $Gray-text
      margin-top: 53px
      margin-bottom: 60px
  &__button
    width: 202px
    height: 55px
    background: $Blue-button
    font-family: "NunitoSans-SemiBold",serif
    font-size: 23px
    color: $White
    border: none
    @include hover(0 0 40px $Gray-nav)
@media (max-width: 1400px)
  .places-text
    margin-top: 0
    transition-duration: 1s
@media (max-width: 1200px)
  .places
    flex-direction: column
    align-items: center
    margin: 70px 8vw
    &-text
      order: -1
      text-align: center
      width: 100%
      margin: auto
      & h1
        margin: 2.5vh auto
        &::after
          margin: 2.5vh auto
      & p
        margin: 1em 0
    &-photo
      width: 95vw
      margin-top: 5vh
@media (max-width: 700px)
  .places-card__back,
  .places-card__back img
    width: 290px
    height: 390px
  .places-description
    justify-content: center
    flex-direction: column
  .places-rating,
  .places-description__text
    justify-content: center
    text-align: center
  .places-card
    height: 450px
  .places-cards
    height: 500px



.video-place
  display: flex
  flex-direction: column
  margin: 15vh 8vw 0 7vw
  &-text
    text-align: center
    position: relative
  &-text h1
    font-family: "NunitoSans-SemiBold", serif
    color: $Black-text
    font-size: 50px
    @include sizeSmallScreen
    &::after
      content: ""
      background-image: url("../img/place-line.png")
      width: 80px
      height: 6px
      display: flex
      margin: 2.5vh auto
  &-text p
    font-family: "NunitoSans-Regular", serif
    color: $Gray-text
    font-size: 22px
  &-vid
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    margin-top: 5vh
  &-cards
    position: relative
    width: 100%
    padding-bottom: 40%
    height: 0
    overflow: hidden
    &__iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border: 0
      outline-width: 0
  &-preview
    display: flex
    overflow-y: scroll
    overflow-x: hidden
    height: 0
    padding-bottom: 40%
    max-width: 535px
    width: 100%
    &-list
      display: flex
      flex-direction: column
      margin-top: 0
      padding-left: 15px
    & li
      min-height: 145px
      display: flex
      padding-top: 15px
      padding-bottom: 15px
      margin-right: 20px
      &:hover
        background-color: $Gray-vid1
        cursor: pointer
        transform: scale(0.9)
        transition-duration: 0.7s
      & img
        height: 110px
        width: 200px
        margin: 0 15px 0 20px
      & p
        margin: auto 20px auto 0
        font-family: "NunitoSans-SemiBold", serif
        color: $Black-text
        font-size: 24px
      & span
        font-family: "NunitoSans-Regular", serif
        color: #777c8a
        font-size: 20px
@media (max-width: 1400px)
  .video-place
    margin: 20vh 8vw 0
    &-vid
      flex-direction: column
    &-preview
      overflow-y: auto
      overflow-x: visible
      max-width: 100%
      padding-bottom: 0
      height: 100%
      &-list
        flex-direction: row
        margin-top: 20px
        & li
          flex-direction: column
          & p
            margin: 0 15px
            text-align: center
            font-size: 18px
          & span
            font-size: 18px
  .video-place-cards
    padding-bottom: 55%
@media (max-width: 550px)
  .video-place-preview-list
    & li
      margin-right: 0
    & li img
      width: 100px
      height: auto
    & li p
      font-size: 16px
    & li span
      font-size: 14px
  .video-place
    margin-bottom: 40px

.categories
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 13vh
  &-text
    position: relative
    text-align: center
    margin: 0 18.2vw
    & h1
      font-family: "NunitoSans-SemiBold", serif
      color: $Black-text
      font-size: 50px
      @include sizeSmallScreen
      &::after
        content: ""
        background-image: url("../img/place-line.png")
        width: 80px
        height: 6px
        display: flex
        margin: 2.5vh auto
    & p
      font-family: "NunitoSans-Regular", serif
      color: $Gray-text
      font-size: 22px
  &-photo
    margin-top: 1.35vh
  &-cards
    width: 100vw
    overflow: hidden
    & .is-active
      & img
        transform: translateY(-60px)
        transition: transform, 400ms
        box-shadow: 0 5px 50px gray
  &-card
    margin-right: 30px
    padding-top: 150px
@media (max-width: 1000px)
  .categories-card
    & img
      max-width: 250px
  .categories-text
    margin: 0 8vw

.comment
  display: flex
  flex-direction: column
  align-items: center
  margin: 21vh 8vw auto
  &-text
    position: relative
    & h1
      font-family: "NunitoSans-SemiBold", serif
      font-size: 50px
      color: $Black-text
      text-align: center
      @include sizeSmallScreen
      &::after
        content: ""
        background-image: url("../img/place-line.png")
        width: 80px
        height: 6px
        display: flex
        margin: 2.5vh auto
  &-cards
    width: 100vw
    overflow: hidden
    margin-top: 35px
    margin-bottom: 250px
  &-card
    text-align: center
    &__text
      max-width: 1070px
      min-height: 150px
      font-family: "NunitoSans-Regular", serif
      font-size: 26px
      color: $Black-text
      margin: auto
    & img
      margin-top: 75px
    &__name
      font-family: "NunitoSans-SemiBold", serif
      font-size: 24px
      color: $Black-text
      margin-bottom: 0
    &__metier
      font-family: "NunitoSans-Regular", serif
      font-size: 20px
      color: $Black-text
      margin-top: 10px
  &__pagination
    bottom: 248px
  &__pag__page
    width: 40px
    height: 3px
    background-color: $Violet
    border-radius: 0
    margin-right: 15px
@media (max-width: 1100px)
  .comment-card
    &__name
      font-size: 20px
    &__metier
      font-size: 16px
    &__text
      margin: 40px
      font-size: 1.2em
@media (max-width: 620px)
  .comment-card
    &__text
      min-height: 306px
      display: flex
      margin: 0 8vw
      align-items: center



.booking
  height: 900px
  background-image: url("../img/formback.png")
  background-repeat: no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  text-align: center
  justify-content: center
  padding: 0 9vw
  &-text
    color: $White
    text-align: center
    & h2
      text-transform: uppercase
      font-family: "NunitoSans-SemiBold", serif
      font-size: 38px
      margin-bottom: 3vh
    & p
      font-family: "NunitoSans-ExtraBold", serif
      font-size: 60px
      margin-top: 0
      margin-bottom: 8vh
  &-form
    display: flex
    margin: 0 auto
    flex-direction: row
    & select
      appearance: none
      -webkit-appearance: none
      background-image: url("../img/formarrow.png"), url("../img/formarrow2.png")
      background-size: 10px 9px
      background-repeat: no-repeat
      background-position: left 90% top 25px, left 90% top 40px
      margin-bottom: 20px
    &__block
      height: 70px
      width: 350px
      font-family: "NunitoSans-SemiBold", serif
      font-size: 16px
      color: $White
      outline: none
      background-color: rgba(255, 255, 255, 0.2)
      border: none
      padding: 25px 45px
      margin: 0 20px
    &__date
      padding: 0 40px 0 40px
      width: 270px
      margin: 0 20px 20px 20px
    &__button
      background: $Blue-button
      @include hover(none)
      &:hover
        cursor: pointer
@include placehold($White)
@media (max-width: 1000px)
  .booking-form
    text-align: center
  .booking-text
    & h2
      font-size: 30px
    & p
      font-size: 50px
      line-height: 60px
  .booking-form__block select,
  .booking-form__button select,
  .booking-form__date select
    width: 100%
@media (max-width: 460px)
  .booking-form__block
    width: 310px
    margin-right: 0
    margin-left: 0
  .booking-form__date
    width: 230px
  .booking-text p
    margin-bottom: 30px
    font-size: 40px
@media (max-width: 375px)
  .booking-form__block
    width: 270px
  .booking-form__date
    width: 190px

.footer
  display: flex
  flex-direction: column
  align-items: center
  min-height: 300px
  &-links
    display: flex
    justify-content: space-around
    width: 100%
    max-width: 780px
    margin-top: 70px
    margin-bottom: 30px
    font-family: "NunitoSans-Regular", serif
    font-size: 18px
    & li
      list-style-type: none
      & a
        color: $Black-foot
  &-soc
    display: flex
    width: 100%
    max-width: 280px
    margin-top: 20px
    margin-bottom: 80px
  &__icon
    width: 50px
    height: 50px
    border-radius: 50%
    background: $Blue
    color: $White
    font-size: 25px
    text-align: center
    position: relative
    margin-right: 20px
    & i
      position: absolute
      top: 50%
      transform: translateY(-50%) translateX(-50%)
      left: 50%
  &-text
    font-family: "NunitoSans-SemiBold", serif
    font-size: 15px
    & span
      margin-left: 25px
      color: $Gray-foot
@media (max-width: 822px)
  .footer-links
    flex-direction: column
    text-align: center
    padding: 0
    margin-top: 30px
    & li
      padding: 10px
  .footer-text
    display: flex
    flex-direction: column
    text-align: center
    width: 80%

.popup
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.7)
  position: fixed
  top: 0
  display: none
  justify-content: center
  align-items: center
  z-index: 10
  &_content
    width: 25vw
    height: 50vh
    min-width: 300px
    min-height: 400px
    max-width: 370px
    max-height: 492px
    background-color: white
    border-radius: 6px
    box-shadow: 2px 2px 10px lightyellow
    position: relative
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    & .status-message
      display: none
      position: absolute
      top: 10%
      color: #4497f3
      font-weight: bold
      font-size: 14px
      text-align: center
  &_close
    position: absolute
    top: -20px
    right: -40px
    border: none
    background: transparent
    color: white
    font-size: 25px
    @media (max-width: 380px)
      top: 20px
      right: 20px
      color: $Blue
  &_form
    width: 70%
    & .form
      display: flex
      flex-direction: column
      text-align: center
      font-family: NunitoSans-Regular, serif
      color: $Gray-nav
      &-control
        margin: 2px 0 15px
        border-radius: 0
        border: 1px solid $Blue
        outline: none
        height: 20px
        padding: 5px 10px
        width: auto
  &_button
    margin: 5px 0 15px
    background: $Blue-button
    border: none
    height: 40px
    color: white
    font-size: 16px
  &_notice
    margin-bottom: 5px
    font-size: 14px
    color: $Gray-text

